body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

a {
  text-decoration: none;
}

#content {
  width: 900px;
  margin: auto;
  /* border: 1px solid red; */
  overflow: hidden;
}

#login_logout {
  float: right;
  color: #999;
  margin-right: 50px;
}

#left_panel {
  width: 700px;
  float: left;
  /* border: 1px solid blue; */
}

#right_panel {
  width: 250px;
  margin-left: 720px;
  /* border: 1px solid blue; */
}

#bookmark_list {
  padding-left: 0;
}
  
#bookmark_list li {
  list-style-position: outside;
  list-style-type: none;
}

#bookmark_list h3 {
  display: inline;
  color: #999;
  text-align: left;
  font-size: 13px;
  font-weight: normal;
}

.date_group {
  border-top: 1px solid #D5D5D5;
  padding: 4px 0 4px;
}

.bookmarks {
  margin: -18px 0 10px 70px;
}

.bookmark {
  margin-bottom: 5px;
}

.bookmark h4 {
  display: inline;
  color: #666;
  font-size: 130%;
  font-weight: normal;
}

.do_not_share {
	color: red;
}

.bookmark a {
  color: #666;
}

.bookmark a:hover {
  color: #fff;
  background-color: #666;
}

.time {
  color: gray;
  font-style: italic;
}

.meta, .pagination {
  font-size: 13px;
  color: #ABC4E1;
}

.meta a, .pagination a, .tags a {
  color: #7991B3;
}

.meta a:hover, .pagination a:hover, .tags a:hover {
  color: #FFF;
  background-color: #7991B3;
}

.pagination {
  color: #666;
  text-align: center;
}

.pagination .current {
  color: #000;
}

.css1 { font-size: 90%; }
.css2 { font-size: 100%; }
.css3 { font-size: 110%; }
.css4 { font-size: 120%; }

.error_message {
  color: red;
}

.notice_message {
  color: green;
}
