<h1>New bookmark</h1>

<div>
  <% form_tag new_bookmark_site_url, :method => :get do %>
    URL <%= text_field_tag 'new_url', '', :size => 85 %> <%= submit_tag 'Next' %>
  <% end %>
</div>

<br />
<%= link_to 'Back', bookmark_sites_path %>
