<h1>Bookmarks</h1>
<h2><%= "#{versions_tag(@bookmark)} for #{@bookmark.url}" %></h2>

<%= render :partial => 'content', 
  :locals => { :date_groups_order => @date_groups_order,
  :date_groups => @date_groups,
  :bookmarks => @bookmarks } %>
