<h1><%=t 'bookmarks.header' %></h1>
<h2><%=t 'bookmarks.version_title', :version => versions_tag(@bookmark), :url => @bookmark.url %></h2>

<%= render :partial => 'content', 
  :locals => { :date_groups_order => @date_groups_order,
  :date_groups => @date_groups,
  :bookmarks => @bookmarks } %>
