<h1><%=t 'bookmarks.header' %></h1>
<h2><%=t 'bookmarks.tags_title', :count => @current_tags.size, :tags => @current_tags.join(", ")  %></h2>

<%= render :partial => 'bookmark_sites/content', 
  :locals => { :date_groups_order => @date_groups_order,
  :date_groups => @date_groups,
  :bookmarks => @bookmarks } %>
